<!DOCTYPE html>
<html>

<head>
<title>Scarpa</title>
<link rel="icon" type="image/ico" href="static/favicon.ico">

<Style>

body{background-color: green;}

.Texto {
	text-align: center;
	font-family: "Arial", helvetica, sans-Serif;
	color: white;
}

</Style>

</head>

<body>

<h1 class="Texto">Links de Rafael Scarpa</h1>
<p class="Texto">Se achar isso, me avise no <a href="https://twitter.com/ScarpaYT">Twitter</a>!</p>
<p class="Texto">Venha me ver no <a href="https://youtube.co/rafaelscarpa">YouTube</a>!</p>
<p Class="Texto">O link para meu servidor do Discord é <a href="https://scarpa.page.link/Discord">Scarpa.page.link/Discord</a>.</p>
<p class="Texto">E pra me dar dinheiro, <a href="https://streamelements.com/rafaelscarpa/tip">link</a>.</p>

<table class="Texto" border="1">
<tr><th> Doadores:</th></tr>
<tr><td>[Seja o primeiro!]</td></tr>
</table>

</body>

</html>